<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>仓库信息</title>
    <div th:include="common/head"></div>
</head>

<body>
<div class="padding border-bottom">
    <form  method="post" action = "/war/list"  id="queryform">
        <ul class="search" style="padding-left:10px;">
            <li>搜索：</li>
            <li>
                <input type="text" placeholder="请输入仓库名称" th:value="${param.content}" name="content"  id="warename"  class="input" style="width:250px; line-height:17px;display:inline-block" />
            </li>
            <li>
                <a href="javascript:void(0)" class="button border-main icon-search" onclick="changesearch()"> 搜索</a>
            </li>
        </ul>
    </form>
</div>

<form method="post" action="" id="listform">
    <div class="panel admin-panel">
        <div class="panel-head"><strong class="icon-reorder">仓库信息</strong></div>
        <table class="table table-hover text-center">
            <tr>
                <th>序号</th>
<!--                <th>仓库编码</th>-->
                <th>仓库名称</th>
                <th>负责人</th>
                <th>地址</th>
                <th>仓库类型</th>
                <!-- <th>公告内容</th>-->
                <!-- <th>制单日期</th>-->
                <th>操作</th>
            </tr>
            <!--/*@thymesVar id="list" type="java.util.List"*/-->
            <!--/*@thymesVar id="w" type="com.obtk.wmsfly.domain.BsWarehouse"*/-->
            <tr th:each="w : ${page.list}">
<!--                <td th:text="${w.warecode}"></td>-->
                <td  style="text-align:left; padding-left:20px;"><input type="checkbox" name="id[]" th:value="${w.warecode}" />
                    <span th:text="${wStat.index+1}"></span>
                </td>
                <td th:text="${w.warename}"></td>
                <td th:text="${w.dutyman}"></td>
                <td th:text="${w.city}"></td>
                <div th:switch="${w.waretype}">
                    <td th:case="0">配送仓</td>
                    <td th:case="1">供应商仓</td>
                    <td th:case="2">虚拟仓</td>
                </div>
                <td>
                    <div>
                        <a class="button border-main" th:href="@{/war/sel/} + ${w.warecode}" style="padding: 2px 8px;"><span class="icon-edit"></span> 修改</a>
                    <a class="button border-red"  style="padding: 2px 8px;" th:href="@{/war/del/} + ${w.warecode}" <!--th:onclick="del([[${w.warecode}]])-->"><span class="icon-trash-o"></span>删除</a>
                </div>
                </td>
            </tr>
            <tr>
                    <td  style="text-align:left; padding:10px 0;padding-left:20px;"><input type="checkbox" id="checkall"/>全选 </td>
                    <td><a class="button border-red" href="javascript:void(0)" style="padding: 2px 8px;" th:onclick="DelSelect()">
                        <span class="icon-trash-o"></span> 批量删除</a></td>
                    <td><a class="button border-main" href="/war/edit" style="padding: 2px 8px;" >
                        <span class="icon-plus-square-o"></span> 新增</a>
                    </td>
                </tr>
            <tr>
                <td colspan="8">
                    <div class="pagelist">
                        <a th:href="@{/war/list(start=1,content=${param.content})}">首页</a>
                        <a th:href="@{/war/list(start=${page.pageNum - 1},content=${param.content})}">上一页</a>
                        <span th:if="${page.pageNum} != ${page.pages}" style="border:0px">
                        <a th:href="@{/war/list(start=${page.pageNum+1},content=${param.content})}">下一页</a>
                        </span>
                        <a th:href="@{/war/list(start=${page.pages},content=${param.content})}">尾页</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    </div>
    </div>
</form>
    <script type="text/javascript"  >

        //搜索
        function changesearch(){
            $("#queryform").submit();
        }

        /*//单个删除
        function del(id){
            if(confirm("您确定要删除吗?")){
                $.ajax({
                    type:"post",
                    url:"/war/del/" + id,
                })
            }
        }*/
        //全选
        $("#checkall").click(function(){
            $("input[name='id[]']").each(function(){
                if (this.checked) {
                    this.checked = false;
                }
                else {
                    this.checked = true;
                }
            });
        })

        //批量删除
        function DelSelect(){
            var ids = "";
            var Checkbox=false;
            $("input[name='id[]']").each(function(){
                if (this.checked==true) {
                    ids += this.value + ",";
                    Checkbox=true;
                }
            });
            if (Checkbox){
                var t=confirm("您确认要删除选中的内容吗？");
                if (t==false) return false;
                $.ajax({
                    type:"post",
                    url:"/war/del/" + ids,
                    success:function (result) {
                        window.location.href="/war/list";
                    }
                })
                $("#listform").submit();
            }
            else{
                alert("请选择您要删除的内容!");
                return false;
            }
        }



    </script>
</body>
</html>