<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>供应商信息</title>
</head>

<body>
<div th:include="common/head"></div>

<div class="padding border-bottom">
    <form  method="post" th:action = "@{/serve/list}"  id="queryform">
        <ul class="search" style="padding-left:10px;">
            <li>搜索：</li>
            <li>
                <input type="text" placeholder="请输入供应商名称或者联系电话 "  th:value="${param.content}" name="content"  id="result"  class="input" style="width:250px; line-height:17px;display:inline-block" />
            </li>
            <li>
                <a href="javascript:void(0)" class="button border-main icon-search" onclick="$('#queryform').submit()" > 搜索</a>
            </li>
        </ul>
    </form>
</div>

<form method="post" action="" id="listform">
    <div class="panel admin-panel">
        <div class="panel-head"><strong class="icon-reorder">供应商信息</strong></div>
        <table class="table table-hover text-center">
            <tr>
                <th>序号</th>
<!--                <th>仓库编码</th>-->
                <th>供应商名称</th>
                <th>联系人</th>
                <th>手机</th>
                <th>电话</th>
                <th>传真</th>
                <th>国税号</th>
                <th>开户银行</th>
                <th>开户账号</th>
                <th>操作</th>
            </tr>
            <!--/*@thymesVar id="list" type="java.util.List"*/-->
            <!--/*@thymesVar id="w" type="com.obtk.wmsfly.domain.BsWarehouse"*/-->
            <tr th:each="s : ${page.list}">
<!--                <td th:text="${w.warecode}"></td>-->
                <td  style="text-align:left; padding-left:20px;"><input type="checkbox" name="id[]" th:value="${s.servecode}" />
                    <span th:text="${{sStat.index+1}}"></span>
                </td>
                <td th:text="${s.servename}"></td>
                <td th:text="${s.connecter}"></td>
                <td th:text="${s.mobiltel}"></td>
                <td th:text="${s.tel}"></td>
                <td th:text="${s.fax}"></td>
                <td th:text="${s.countrytax}"></td>
                <td th:text="${s.bank}"></td>
                <td th:text="${s.accounts}"></td>
                <td>
                    <div>
                        <a class="button border-main" th:href="@{/serve/toUpdate/} + ${s.servecode}"  style="padding: 2px 8px;"><span class="icon-edit"></span> 修改</a>
                    <a class="button border-red"  style="padding: 2px 8px;"  th:onclick="del([[${s.servecode}]])"><span class="icon-trash-o"></span>删除</a>
                </div>
                </td>
            </tr>
            <tr>
                    <td  style="text-align:left; padding:10px 0;padding-left:20px;"><input type="checkbox" id="checkall"/>全选 </td>
                    <td><a class="button border-red" href="javascript:void(0)" style="padding: 2px 8px;" th:onclick="DelSelect()">
                        <span class="icon-trash-o"></span> 批量删除</a></td>
                    <td><a class="button border-main" href="/serve/toAdd" style="padding: 2px 8px;" >
                        <span class="icon-plus-square-o"></span> 新增</a>
                    </td>
                </tr>
            <tr>
                <td colspan="8">
                    <div class="pagelist">
                        <a th:href="@{/serve/list(start=1,content=${param.content})}">首页</a>
                        <a th:href="@{/serve/list(start=${page.pageNum - 1},content=${param.content})}">上一页</a>
                        <span th:if="${page.pageNum} != ${page.pages}" style="border:0px">
                        <a th:href="@{/serve/list(start=${page.pageNum+1},content=${param.content})}">下一页</a>
                        </span>
                        <a th:href="@{/serve/list(start=${page.pages},content=${param.content})}">尾页</a>
                    </div>
                    <!-- <div th:include="template:: footer"></div>-->
                </td>
            </tr>
        </table>
    </div>
    </div>
    </div>
</form>
    <script type="text/javascript"  >

        //单个删除
        function del(id){
            if(confirm("您确定要删除吗?")){
                $.ajax({
                    type:"post",
                    url:"/serve/del/" + id,
                    success:function (data) {
                        if(data > 0){
                            window.location.href="/serve/list";
                        }
                    }
                })
            }
        }
        //全选
        $("#checkall").click(function(){
            $("input[name='id[]']").each(function(){
                if (this.checked) {
                    this.checked = false;
                }
                else {
                    this.checked = true;
                }
            });
        })

        //批量删除
        function DelSelect(){
            var ids = "";
            var Checkbox=false;
            $("input[name='id[]']").each(function(){
                if (this.checked==true) {
                    ids += this.value + ",";
                    Checkbox=true;
                }
            });
            if (Checkbox){
                var t=confirm("您确认要删除选中的内容吗？");
                alert(ids);
                if (t==false) return false;
                $.ajax({
                    type:"post",
                    url:"/serve/del/" + ids,
                    success:function (result) {
                        window.location.href="/serve/list";
                    }
                })
                $("#listform").submit();
            }
            else{
                alert("请选择您要删除的内容!");
                return false;
            }
        }



    </script>
</body>
</html>