<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>物流信息管理系统</title>
    <link rel="stylesheet" href="oastyle/css/pintuer.css">
    <link rel="stylesheet" href="oastyle/css/admin.css">
    <script src="oastyle/js/jquery.js"></script>
</head>
<body style="background-color:#f2f9fd;">
<div class="header bg-main">
    <div class="logo margin-big-left fadein-top">
        <h1><img src="oastyle/images/y.jpg" class="radius-circle rotate-hover" height="50" alt="" />物流管理系统</h1>
    </div>
    <div class="head-l"><a class="button button-little bg-green" href="/personnew" >个人信息</a>  &nbsp;&nbsp;
        <a class="button button-little bg-red" href="/" >
            <span class="icon-power-off"></span> 退出登录</a> </div>
</div>
<div class="leftnav">
    <div class="leftnav-title"><strong><span class="icon-list"></span>菜单列表</strong></div>
    <h2><span class="icon-user"></span>系统配置</h2>
    <ul>
        <li><a href="/uptpass" target="right"><span class="icon-caret-right"></span>修改密码</a></li>
        <li><a href="/personnew" target="right"><span class="icon-caret-right"></span>个人资料</a></li>
        <li><a href="/bbs/list" target="right"><span class="icon-caret-right"></span>公告管理</a></li>
    </ul>


    <h2><span class="icon-pencil-square-o"></span>基础资料</h2>
    <ul>
        <li><a href="/serve/list" target="right"><span class="icon-caret-right"></span>供应商信息</a></li>
        <li><a href="/tranunit/list" target="right"><span class="icon-caret-right"></span>承运商信息</a></li>
        <li><a href="/V/list" target="right"><span class="icon-caret-right"></span>车辆信息</a></li>
        <li><a href="/itemtype/out" target="right"><span class="icon-caret-right"></span>材料分类信息</a></li>
        <li><a href="/newitem/out" target="right"><span class="icon-caret-right"></span>材料基本信息</a></li>
        <li><a href="/bs/bread/list" target="right"><span class="icon-caret-right"></span>材料品牌信息</a></li>
    </ul>
    <h2><span class="icon-pencil-square-o"></span>仓库设置</h2>
    <ul>
        <li><a href="/war/list" target="right"><span class="icon-caret-right"></span>仓库信息</a></li>

    </ul>
    <h2><span class="icon-pencil-square-o"></span>入库管理</h2>
    <ul>
        <li><a href="/indillh/list" target="right"><span class="icon-caret-right"></span>验货入库</a></li>
    </ul>
    <h2><span class="icon-pencil-square-o"></span>出库管理</h2>
    <ul>
        <li><a href="/outH/Index" target="right"><span class="icon-caret-right"></span>配送出库</a></li>
    </ul>
    <h2><span class="icon-pencil-square-o"></span>库存管理</h2>
    <ul>
        <li><a href="/Storage/list" target="right"><span class="icon-caret-right"></span>库存台账</a></li>
    </ul>
</div>

<script type="text/javascript">
$(function(){
  $(".leftnav h2").click(function(){
	  $(this).next().slideToggle(200);	
	  $(this).toggleClass("on"); 
  })
  $(".leftnav ul li a").click(function(){
	    $("#a_leader_txt").text($(this).text());
  		$(".leftnav ul li a").removeClass("on");
		$(this).addClass("on");
  })
  
    $(".icon-home").click(function(){
	    $("#a_leader_txt").text("所有公告");
  		$(".leftnav ul li a").removeClass("on");
		$(this).addClass("on");
  })
  
});


</script>
<ul class="bread">
    <li align="right"><a href="javascript:history.back(-1);" target="right"   class="icon-backward">返回</a></li>
  <li><a href="/bbs/list" target="right" class="icon-home"> 首页</a></li>
  <li><a href="##" id="a_leader_txt">公告信息</a></li>

</ul>
<div class="admin">
  <iframe scrolling="auto" rameborder="0" src="/bbs/list" name="right" width="100%" height="100%"></iframe>
</div>
<div style="text-align:center;">
</div>
</body>
</html>